API_TEST_BASE_URL=http://localhost:3333

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=<your-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-secret-access-key-value>
AWS_BUCKET=<your-s3-bucket-name>
AWS_BUCKET_REGION=<your-s3-bucket-region>
